html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.head {
  background: gold;
  color: blue;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.menu-site {
  display: flex;
  justify-content: center;
}

.item {
  background: #999;
  border-radius: 10px;
  min-width: 10%;
  text-align: center;
  list-style-type: none;
  border: 1px solid red;
}

a {
  text-decoration:  none;
}